body {
            background: #6feeff;
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
        }

        .card {
            background: rgb(129, 141, 253);
            border-radius: 12px;
            padding: 15px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
            transition: 0.3s;
            text-align: center;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            width: 100%;
            border-radius: 10px;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0;
        }

        .price {
            font-size: 17px;
            color: #f0f8f0;
            margin-bottom: 10px;
        }

        .btn {
            padding: 10px 15px;
            background: #0077ff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background: #0059c9;
        }