body {
            background: #d5e6f8;      
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            
        }

        .login-box {
            background: rgb(56, 250, 250);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            width: 350px;
            text-align: center;
            
        }
        
        label {
            float: left;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
            
        }

        button {
            width: 25%;
            padding: 10px;
            border: 1px;
            border-radius: 5px;
            background: #0077ff;
            color: white;
            cursor: pointer;
            font-size: 20px;
            
        }

        button:hover {
            background: #f10808;
        }